
.second-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 4em;
    overflow: hidden;
    padding-top: 4em;
}

.second-section__figure{
    width: 30%;
    height: 50%;
    background-color: rgb(83, 104, 223);
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 120px;
    z-index: -1;
}

.second-section__information{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.second-section__information__text{
    width: 50%;
    text-align: center;
    padding: 0 50px;
}

.second-section__information__text h2{
    color: #3a4269;
    font-weight: 500;
}

.second-section__information__text p{
    color: rgb(160, 157, 157);
    margin-top: 20px;
    margin-bottom: 30px;
}

.second-section__information__subtitles{
    width: 100%;
    display: flex;
    justify-content: center;
}

.second-section__information__subtitles ul{
    display: flex;
    list-style: none;
    padding: 25px 0;
    border-bottom: solid 1px rgb(160, 157, 157);
    padding: 30px 40px;
}

.second-section__information__subtitles ul li{
    text-decoration: none;
    color: rgb(160, 157, 157);
    cursor: pointer;
    position: relative;
}

.second-section__information__subtitles ul li.active{
    color: hsl(0, 94%, 66%);
}

.second-section__information__subtitles ul li.active::after{
    content: '';
    width: 150%;
    height: 2px;
    position: absolute;
    bottom: -31px;
    left: -40px;
    background-color: #fa5757;
}

.second-section__information__subtitles ul li.active:last-child::after{
    width: 200%;
}

.second-section__information__subtitles ul li:hover{
    color: hsl(0, 94%, 66%);
}

.second-section__information__subtitles ul li:not(:last-child){
    margin-right: 75px;
}

.second-section__content-Total{
    position: relative;
    width: 100%;
    height: 346px;
}

.second-section__content{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
}

.second-section__content.active{
    visibility: visible;
}

.second-section__content__img{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 35px;
}

.second-section__content__img img{
    max-width: 600px;
    max-height: 410px;
    min-width: 200px;
    min-height: 100px;
}

.second-section__content__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2em;
}

.second-section__content__text h2{
    color: rgb(58, 66, 105);
    font-weight: 500;
}

.second-section__content__text p{
    color: rgb(160, 157, 157);
    margin-top: 20px;
    margin-bottom: 30px;
}

.second-section__content__text__button{
    display: block;
    width: 100%;
}

.second-section__content__text__button a{
    padding: 10px 18px;
    background-color: #5368df;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 950px){
    .second-section{
        padding-top: 5em;
    }
    .second-section__information__text{
        width: 100%;
        padding: 0 20px;
    }
    .second-section__information__text h2{
        font-size: 20px;
    }
    .second-section__information__text p{
        font-size: 14px;
    }
    .second-section__information__subtitles ul{
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .second-section__information__subtitles ul li{
        padding: 10px 80px;
    }
    .second-section__information__subtitles ul li:not(:last-child){
        border-bottom: solid 1px #00000060;
    }
    .second-section__information__subtitles ul li:not(:last-child){
        margin-bottom: 20px;
        margin-right: 0;
    }
    .second-section__information__subtitles ul li.active::after{
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
    }
    .second-section__information__subtitles ul li.active:last-child::after{
        width: 100%;
    }
    .second-section__content__img{
        width: 45%;
        height: 50%;
        padding: 20px 35px;
    }
    .second-section__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .second-section__content__text {
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .second-section__content__text h2{
        font-size: 20px;
    }
    .second-section__content__text p{
        font-size: 14px;
        padding: 0 20px;
    }
    .second-section__content__text__button{
        width: 100%;
    }
    .second-section__content__text__button a{
        font-size: 14px;
    }
    .second-section__figure{
        display: none;
    }
}
